/* Basic text search */
#pmp-search-page #pmp-search-form input[type="text"] {
  width: 200px;
}

/* Advanced search */
#pmp-show-advanced {
  display: block;
  margin: 10px 0;
}

#pmp-advanced-search {
  display: none;
}

#pmp-advanced-search input,
#pmp-advanced-search select,
#pmp-advanced-search label {
  display: block;
  clear: both;
}

#pmp-advanced-search input,
#pmp-advanced-search select {
  margin: 0 0 20px 0;
}

/* Search results */
#pmp-search-results {
  max-width: 700px;
}

.pmp-search-result {
  float: left;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #ccc;
}

.pmp-search-result .pmp-title {
  margin: 1em 0 0 0;
}

.pmp-search-result .pmp-byline {
  font-size: 12px;
  margin: 6px 0;
}

.pmp-search-result .pmp-teaser {
  font-size: 14px;
  margin: 6px 0;
}

.pmp-search-result .pmp-image {
  width: 125px;
  height: auto;
  float: left;
  margin: 0 16px 16px 0;
}

/* Results actions */
.pmp-result-actions {
  clear: both;
}

.pmp-result-actions ul li {
  display: inline;
}

.pmp-result-actions ul li:after {
  content: "|";
  margin: 0 6px;
  padding: 0;
}

.pmp-result-actions ul li:last-child:after {
  content: "";
}
